:root {
    --dark-blue: rgb(17, 31, 68);
    --lighter-dark-blue: rgb(61, 84, 158);
    --sidebar-font-grey: rgb(235, 235, 235);
    --sidebar-nav-grey: rgb(182, 182, 182);
    --hero-nav-link-grey: rgb(109,109,109);
    --hero-nav-link-hover-grey: rgb(85, 85, 85);
    --main-content-section: rgb(205, 210, 214);
    --sidebar-resume-bg: rgb(43, 74, 124);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--sidebar-font-grey);
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.02em;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

hero {
    height: 100vh;
    background: linear-gradient(0deg, var(--dark-blue) 20%, var(--lighter-dark-blue) 100%);
    display: flex;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 70rem;
    margin-right: auto;
    margin-left: clamp(2rem, 15%, 16rem);
}

.hero-img {
    width: clamp(7em, 70%, 20em);
}

.hero-img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 50px;
}

.hero-header {
    color: var(--sidebar-font-grey);
    position: relative;
    top: 5em;
    left: 0.75rem;
}

.hero-nav {
    position: relative;
    top: 1rem;
    right: 10.5rem;
    border-radius: 20px 10px;
}

.hero-nav-items {
    border-radius: 20px 10px;
    display: flex;
    text-align: center;
    align-items: center;
}

.hero-nav-items a {
    padding: 1em 2em;
    background-color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    color: var(--sidebar-nav-grey);
    transition: background-color 0.5s, transform 0.5s;
}

.hero-link1 {
    border-radius: 20px 0px 0 10px;
}

.hero-link3 {
    border-radius: 0 10px 20px 0;
}

.hero-nav-items a:hover {
    background-color: var(--hero-nav-link-hover-grey);
    transform: translateY(4px);
}

main {
    display: flex;
}

aside {
    position: sticky;
    width: clamp(15rem, 30vw, 16rem);
    max-height: 100vh;
    top: 0;
    background-color: var(--dark-blue);
    color: var(--sidebar-font-grey);
    z-index: 1;
}

.sidebar-top {
    opacity: 0;
    position: relative;
    right: 15rem;
    transition: all 0.75s;
}

.sidebar-profile-img {
    text-align: center;
    padding: 0.5em 1em;
}

.sidebar-name {
    text-align: center;
}

#sidebar-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar-info {
    font-size: 0.80rem;
    padding: 0.5rem;
    text-wrap: nowrap;
}

.sidebar-info-item {
    margin-bottom: 1em;
}

.sidebar-info-item p {
    display: inline;
    text-align: center;
}

.resume {
    text-align: center;
    background-color: var(--sidebar-resume-bg);
    padding: 0.25rem 0;
    margin-top: 0.5rem;
}

#resume-link {
    font-size: 0.89rem;
    color: var(--sidebar-font-grey);
}

#resume-link:hover {
    color: var(--sidebar-nav-grey);
}

.sidebar-bottom {
    opacity: 0;
    position: relative;
    right: 15rem;
    transition: all 0.75s;
}

.sidebar-top-fadein, .sidebar-bottom-fadein {
    opacity: 1;
    transform: translateX(15rem);
}

.sidebar-bottom-fadein-right {
    opacity: 1;
    transform: translateX(-15rem);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}

.sidebar-nav-item {
    transition: transform 0.5s;
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: clamp(0.5rem, 5vh, 2rem);
}

.sidebar-nav-item:hover {
    transform: translateX(5px);
}

.sidebar-nav a {
    text-decoration: none;
    color: var(--sidebar-font-grey);
    text-align: center;
}

.main-content > *:not(:last-child) {
    margin: 0 auto 6rem auto;
}

section div[class$="header"] {
    margin-bottom: 1rem;
}

.about-section {
    max-width: clamp(40rem, 60%, 80rem);
    background-color: var(--main-content-section);
    padding: 2rem;
    margin-top: -2rem;
    border-radius: 0 0 20px 20px;
}

.about-section-header {
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

.education-work-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    max-width: clamp(30rem, 75%, 100rem);
}

.education-extracur-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.education-section-content {
    display: flex;
    flex-direction: column;
}

.education-section-item, .extracur-section-item {
    background-color: var(--main-content-section);
    padding: 1.5rem;
    border-radius: 40px 20px;
}

.education2 {
    position: relative;
    left: -2rem;
}

.extracur-section-content {
    position: relative;
    right: 2rem;
}

.extracur2 {
    position: relative;
    right: -2rem;
}

.work-section-item {
    display: flex;
    background-color: var(--main-content-section);
    padding: 1.5rem 1.5rem;
    border-radius: 40px 20px;
}

.work-img {
    width: 50px;
    height: 50px;
}

.work-item2 {
    position: relative;
    left: 4rem;
}

.work-item3 {
    position: relative;
    left: 8rem;
}

.work-section-item-text {
    margin: auto;
}

.skills-section {
    width: clamp(15rem, 80%, 80rem);
}

.skills-section-header {
    margin-bottom: 5rem;
}

.skills-section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-section-item {
    text-align: center;
}

.skills-section-item h4 {
    display: inline;
    margin-right: 0.2rem;
}

.skills-section-item i {
    font-size: 1.2rem;
}

.skills-section-item i:hover {
    color: rgb(255, 145, 0);
}

.skills-section-item-header {
    margin-bottom: 1rem;
}

ul {
    margin-left: 2em;
    margin-top: 1rem;
}

li {
    margin-left: 2rem;
    margin-bottom: 0.75rem;
    list-style-type: none;
}

.work-samples-wrapper {
    background-color: var(--main-content-section);
    padding: 2rem 2rem 4rem 2rem;
}

.work-samples-section {
    max-width: clamp(40rem, 80%, 100rem);
    margin: auto;
}

.work-samples-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: auto;
}

.work-samples-item {
    width: clamp(4rem, 40%, 15rem);
    transition: all 0.75s;
    border: 6px solid transparent;
    border-radius: 40px 20px;
    overflow: hidden;
}

.work-samples-item:hover {
    border-radius: 20px 40px 20px 40px;
    transform: scale(1.05);
}

.work-samples-item-content {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--sidebar-nav-grey);
    text-align: center;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.work-samples-item-content p {
    padding: 0.25rem 0rem;
    color: black;
}

.work-samples-item-content img {
    width: 110%;
    height: 110%;
    transition: transform 0.3s;
}

.work-samples-img {
    overflow: hidden;
}

.work-samples-item-content img:hover {
    transform: scale(1.05);
}

.hobbies-section {
    margin: auto;
    max-width: clamp(30rem, 60%, 80rem);
}

.sidebar-socials-links {
    text-align: center;
}

.sidebar-socials-links a {
    color: var(--sidebar-font-grey);
    font-size: clamp(1rem, 5vh, 2rem);
    border: 1px solid transparent;
    transition: color 0.5s;
}

.sidebar-socials-links a:hover {
    color: var(--hero-nav-link-grey);
}

@media(max-width: 1110px) {
    .education-work-wrapper{
        flex-direction: column-reverse;
    }

    .education-extracur-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .work-item2, .work-item3, .extracur2, .education2, .extracur-section-content {
        position: static;
    }

    .education-section-header, .extracur-section-header{
        text-align: center;
    }
}

@media(max-width: 800px) {
    .hero-content {
        flex-direction: column;
        margin:auto;
        
    }

    .hero-nav {
        position:static;
    }

    .hero-header {
        position:static;
        text-align: center;
    }

    .skills-section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2rem;
    }

    main {
        flex-direction: column;
    }

    aside {
        max-height: 6.5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .sidebar-top {
        display: flex;
        width: 100vw;
        height:100%;
    }

    #sidebar-img {
        width: 50px;
        height: 50px;
    }

    .sidebar-info-item {
        margin-bottom: 0.25rem;
        text-wrap: nowrap;
    }

    .sidebar-nav {
        margin-top: 0;
    }

    .sidebar-bottom {
        display: flex;
        gap:1rem;
        height:100%;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0;
        margin-right: 1rem;
        left:15rem;
    }

    .sidebar-nav-item {
        padding: 0;
        
    }

    .sidebar-nav-item p, .sidebar-info-item p {
        font-size: clamp(0.5rem, 3vw, 0.8rem);
    }

    .sidebar-socials-links {
        border: none;
        display: flex;
        flex-direction: column;
    }

    .sidebar-socials-item {
        font-size: clamp(1rem, 5vw, 1.6rem);
        padding: 0.6rem;
    }

    .resume {
        padding: 0;
        margin-top: 0;
        margin-left: 0.2rem;
        font-size: 0;
        background-color: initial;
        text-align: left;
    }

    #resume-link {
        font-size: 0.8rem;
    }

    .sidebar-nav-link {
        padding: 0.25rem;
    }
}

@media(max-width: 500px) {
    .work-section-item{
        flex-direction: column;
    }

    .skills-section-item li{
        margin-left: -2rem;
    }  
}

@media(max-width: 455px) {
    .img-name-wrapper {
        display: none;
        content:none;
    }

    .education-extracur-wrapper {
        flex-direction: column;
    }
    
    main {
        font-size: clamp(0.75rem, 4vw, 1rem);
    }
}

@media(max-height: 740px) {
    .sidebar-nav-item {
        padding: 0.5rem;
    }
}

@media(max-height: 575px) {
    .sidebar-socials-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .sidebar-nav {
        margin-top: 0;
    }
}

