:root {
    --dark-blue: rgb(25, 25, 71);
    --lighter-dark-blue: rgb(48, 48, 126);
    --sidebar-font-grey: rgb(235, 235, 235);
    --sidebar-nav-grey: rgb(182, 182, 182);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red */
}

html {
    background-color: var(--sidebar-font-grey);
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.02em;
}

hero {
    height: 100vh;
    background: linear-gradient(0deg, var(--dark-blue) 20%, var(--lighter-dark-blue) 100%);
    display: flex;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 70rem;
    margin: auto;
}

.hero-img {
    width: clamp(7em, 70%, 20em);
}

.hero-img img {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 50px;
}


.hero-header {
    color:var(--sidebar-font-grey)
}

.hero-nav {
    margin-top: 2rem;
}

.hero-nav-items {
    display: flex;
    justify-content: space-around;
}

.hero-nav-items a {
    padding: 0.5em 1em;
    border-radius: 20px;
    text-decoration: none;
    color:black;
}

main {
    display: flex;
}

aside {
    position: sticky;
    max-width: clamp(5em, 20%, 10em);
    height:100vh;
    top: 0;
    background-color:var(--dark-blue);
    color:var(--sidebar-font-grey);
}

.sidebar-top {

}

.sidebar-profile-img {
    text-align: center;
}

.sidebar-profile-img img {
    border: 3px solid var(--lighter-dark-blue);
    border-radius: 50%;
}

.sidebar-info {
    font-size: 0.80rem;
}

.sidebar-bottom {
    height:40%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.sidebar-nav a {
    text-decoration: none;
    color: var(--sidebar-font-grey)
}

.main-content > * {
    margin-bottom: 3rem;
}

.main-content {
    padding: 0 2em;
    margin-left: 2rem;
    margin-top: 2rem;
}

section div[class$="header"] {
    margin-bottom: 1rem;
}

.about-section {

}

.about-section-header {
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

.education-work-wrapper {
    display: flex;
    gap: 1rem;
}

.work-section-content > *:not(:last-child) {
    margin-bottom: 1rem;
}

.work-section-item {
    display:flex;
    gap:1rem;
}


.skills-section-content {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.work-samples-content {
    display: flex;
    flex-wrap: wrap;
}

.work-samples-item{
    
}

.work-samples-item-content {
    overflow: hidden;
    width: clamp(4rem, 40%, 15rem);
    display: inline-flex;
    flex-direction: column;
    border: 3px solid var(--lighter-dark-blue);
    border-radius: 40px 20px 40px 20px;
    background-color: var(--sidebar-nav-grey);
    text-align: center;
}

.work-samples-item-content p {
    padding: 0.25rem 1rem;
}

.work-samples-item-content img {
    width: 100%;
    height: 100%;
}






