:root {
    --dark-blue: rgb(17, 31, 68);
    --lighter-dark-blue: rgb(61, 84, 158);
    --sidebar-font-grey: rgb(235, 235, 235);
    --sidebar-nav-grey: rgb(182, 182, 182);
    --hero-nav-link-blue: rgb(85, 85, 85);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red */
}

html {
    background-color: var(--sidebar-font-grey);
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.02em;
}

hero {
    height: 100vh;
    background: linear-gradient(0deg, var(--dark-blue) 20%, var(--lighter-dark-blue) 100%);
    display: flex;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 70rem;
    margin: auto;
}

.hero-img {
    width: clamp(7em, 70%, 20em);
}

.hero-img img {
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px 50px;
}


.hero-header {
    color:var(--sidebar-font-grey);
    position:relative;
    top:5em;
    left: 0.75rem;
}

.hero-nav {
    margin-top: 1rem;
    position:relative;
    right:1.5rem;
    border-radius: 20px 10px;
}

.hero-nav-items {
    border-radius: 20px 10px;
    display: flex;
}

.hero-nav-items a {
    padding: 1em 2em;
    background-color: rgb(109, 109, 109);
    text-decoration: none;
    font-weight: bold;
    color:var(--sidebar-nav-grey);
    transition: background-color 0.5s, transform 0.5s;
}

.hero-link1{
    border-radius: 20px 0px 0 10px;
}

.hero-link3{
    border-radius: 0 10px 20px 0;
}

.hero-nav-items a:hover {
    background-color: var(--hero-nav-link-blue);
    transform: translateY(4px);
}

main {
    display: flex;
}

aside {
    position: sticky;
    max-width: clamp(5em, 20%, 10em);
    height:100vh;
    top: 0;
    background-color:var(--dark-blue);
    color:var(--sidebar-font-grey);
}

.sidebar-top {
    height: clamp(7rem, 30vh, 24rem);
}

.sidebar-profile-img {
    text-align: center;
    padding: 0.5em 1em;
}

.sidebar-profile-img img {
    border-radius: 50%;
}

.sidebar-info {
    font-size: 0.80rem;
    padding: 0.5rem;
    margin: 2em auto 0 auto;
}

.sidebar-info-item{
    margin-bottom: 1em;
}

.sidebar-info-item p{
    display: inline;
}

.sidebar-bottom {
    height:40%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}


.sidebar-nav-item {
    transition: transform 0.5s;
    background-color: var(--dark-blue);
    padding: 4vh 0;
    border-radius: 10px;
}


.sidebar-nav-item:hover{
    transform: translateX(5px);
}

.sidebar-nav a {
    text-decoration: none;
    color: var(--sidebar-font-grey);
    padding: 2em;
}

.main-content > * {
    margin-bottom: 3rem;
}

.main-content {
    padding: 0 2em;
    margin-left: 2rem;
    margin-top: 2rem;
}

section div[class$="header"] {
    margin-bottom: 1rem;
}

.about-section {

}

.about-section-header {
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

.education-work-wrapper {
    display: flex;
    gap: 2rem;
}

.education-section {
    flex-basis: clamp(10rem, 40%, 30rem);
}

.education-section-header {
    margin: auto;
}

.work-section-content > *:not(:last-child) {
    margin-bottom: 2rem;
}

.work-section-item {
    display:flex;
    gap:2rem;
}

li {
    margin-left: 2rem;
}

.skills-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.skills-section-item h4 {
    display: inline;
}

.work-samples-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: auto;
}

.work-samples-item{
    width: clamp(4rem, 40%, 15rem);
    transition: all 0.75s;
    border: 6px solid transparent;
    border-radius: 40px 20px 40px 20px;
    overflow: hidden;
}

.work-samples-item:hover {
    border-radius: 20px 40px 20px 40px;
    transform: scale(1.05);
}

.work-samples-item-content {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--sidebar-nav-grey);
    text-align: center;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

.work-samples-item-content p {
    padding: 0.25rem 0rem;
    color: black;
}

.work-samples-item-content img {
    width: 110%;
    height: 110%;
    transition: transform 0.3s;
}

.work-samples-img {
    overflow: hidden;
}

.work-samples-item-content img:hover {
    transform: scale(1.05);
    
}






